body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color:whitesmoke;
}
.navbar {
    background-color:white; 
}
.navbar-brand img {
    height: 75px;
}
.navbar-nav .nav-link {
    font-weight: 500;
    font-size: 1rem;
}
footer {
    background-color: #f1f1f1;
    border-top: 1px solid #ddd;
    padding: 1rem 0;
}

.footer-container {
    max-width: 1140px;
    margin: auto;
}

.text-muted {
    color: #6c757d;
}

.carousel-item img {
    height: auto;
    max-height: 500px;
    object-fit: cover;
}
.carousel-item img {
    height:60vh; 
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
}
.card {
    margin-bottom: 1.5rem;
    text-align: justify;
}
.card img {
    object-fit: cover;
}
 /** CTA Section */
.custom-container-work, .container-us {
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border-radius: 8px;
}
.custom-container-work h4 {
    font-size: 1.5rem;
    font-weight: 300;
    color: #333;
}
.custom-container-work .lead {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 0;
}
/* Responsive Adjustments */
@media (max-width: 576px) {
    .navbar-nav {
        text-align: center;
    }
    .navbar-nav .nav-item {
        margin-bottom: 0.5rem;
    }
}
@media (maa-width:768px) {
    .carousel-item img {
        height:40vh;
    }
}
@media (max-width: 768px) {
    .container-index {
        text-align: center;
        padding: 15px;
    }
@media (max-width: 768px) {
    #contact h4 {
    font-size: 1.4rem; 
    
    }
    
    #contact h5 {
    font-size: 1.1rem;
    }
    
    #contact p {
    font-size: 1rem;
    }
    }
    }



/* end of cta section */